<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=0">
	<meta name="keywords" content="{$keywords}">
	<meta name="description" content="{$description}">
	<meta name="author" content="wesse_jessica">
	<title>{$title}</title>
	<link type="text/css" rel="stylesheet" href="__STATIC__/css/bootstrap.min.css" >
	<link type="text/css" rel="stylesheet" href="__STATIC__/css/bootstrap-datetimepicker.min.css" >
	<link type="text/css" rel="stylesheet" href="__STATIC__/css/index.css" >
	<link type="text/css" rel="stylesheet" href="__STATIC__/css/home.css" >
	<link type="text/css" rel="stylesheet" href="__STATIC__/css/menu.css">
	<link type="text/css" rel="stylesheet" href="__STATIC__/css/reserve.css">
	<link type="text/css" rel="stylesheet" href="__STATIC__/css/foot.css">

  <script type="text/javascript">
    function jump(obj){
        var _targetTop = $('#'+obj).offset().top-0+"px" ;//获取位置
        jQuery("html,body").animate({scrollTop:_targetTop},600);//跳转
    };
    function opentip1() {            
        document.getElementById("check-in").style.display ="block";
    };
    function closetip1() {            
        document.getElementById("check-in").style.display ="none";
    };
    function opentip2() {            
        document.getElementById("check-out").style.display ="block";
    };
    function closetip2() {            
        document.getElementById("check-out").style.display ="none";
    };
    function opentip3() {            
        document.getElementById("check-guests").style.display ="block";
    };
    function closetip3() {            
        document.getElementById("check-guests").style.display ="none";
    };
    function opentip4() {            
        document.getElementById("check-btn").style.display ="block";
    };
    function closetip4() {            
        document.getElementById("check-btn").style.display ="none";
    };
  </script>

</head>