<extend name="Public/base" />
<block name="title">Home</block>
<block name="keywords">Keywords</block>
<block name="description">Description</block>
<block name="body">
 <!--****************************************    菜单栏     ****************************************-->
  <div class="fr-menu">
    <div class="brand"><a href="index.html"><img src="__STATIC__/images/menu/logo.png"></a></div>
    <!--******************** 小于768 ********************-->
    <div class="btn-group">
      <button class="btn-style" data-toggle="dropdown"> 
        <img src="__STATIC__/images/menu/nav.png">
      </button>
      <ul class="dropdown-menu">
        <li class="active"><a  class="light" href="#">Home</a></li>
        <div class="divider"></div>
        <li ><a href="booking.html">Properties</a></li>
        <div class="divider"></div>
        <li class="why-ahm"><a href="why.html">Why AHM <span class="caret"></span></a>
          <ul>
            <li><a href="why_owner.html">To Owners</a></li>
            <li><a href="why_guest.html">To Guests</a></li>
          </ul>
        </li>
        <div class="divider"></div>
        <li class="qa"><a>Q&A <span class="caret"></span></a>
          <ul>
            <li><a href="howOwners.html">How it works for Owners?</a></li>
            <li><a href="howVisitors.html">How it works for Visitors?</a></li>
          </ul>
        </li>
        <div class="divider"></div>
        <li><a href="about.html"> About AHM</a></li>
        <div class="divider"></div>
        <li class="lan"><a>Language <span class="caret"></span></a>
          <ul>
            <li class="active"><a class="select" href="#">English</a></li>
            <li><a href="#">Chinese</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!--****************** 大于等于768 **********-->
    <div class="list" id="list">
      <ul>
          <div class="divide-line">
            <li class="active">
              <a href="index.html">Home</a>
            </li>
          </div>

          <div class="divide-line">
            <li >
              <a href="pro.html">Properties</a>
            </li>
          </div>

          <div class="divide-line">
            <li class="why-ahm-sm">
              <a href="why.html" class="light">Why AHM</a>
              <ul class="second-menu-why">
                <div class="second-group">
                  <li><a href="why_owner.html">To Owners</a></li>
                  <li><a href="why_guest.html">To Guests</a></li>
                </div>
              </ul>
            </li>
          </div>
          <div class="divide-line"><li class="qa-sm"><a class="light">Q&A</a>
            <ul class="second-menu-qa">
              <div class="second-group">
                <li><a href="howOwners.html">How it works for Owners?</a></li>
                <li><a href="howVisitors.html">How it works for Visitors?</a></li>
              </div>
            </ul>
          </li></div>
          <li class="last"><a href="about.html"> About AHM</a></li>
      </ul>
     </div>
     <!-- 搜索 -->
    <div class="search">
      <form>
        <div class="form-text">
          <input type="text" placeholder="Search">
          <div class="form-btn"><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></div>
        </div>
      </form>
    </div>  
    <!-- 语言 -->
    <div class="langue">
      <ul>
        <li><a href="#" class="active">En</a></li>
        <li><a href="#" class="another">中</a></li>
      </ul>
    </div>  
  </div>

  <!--****************************************   轮播图    ****************************************-->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="__STATIC__/images/home/banner1.jpg" alt="pic1">
      </div>
      <div class="item">
        <img src="__STATIC__/images/home/banner2.jpg" alt="pic2">
      </div>
      <div class="item">
        <img src="__STATIC__/images/home/banner3.jpg" alt="pic3">
      </div>
      <div class="item">
        <img src="__STATIC__/images/home/banner4.jpg" alt="pic4">
      </div>
      <div class="item">
        <img src="__STATIC__/images/home/banner5.jpg" alt="pic5">
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <img src="__STATIC__/images/home/left_arrow.png">
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <img src="__STATIC__/images/home/right_arrow.png">
      <span class="sr-only">Next</span>
    </a>
    <!-- slogan -->
    <div class="slogan">
      <div class="text">
        <div class="text-container"><p>LUXURY & UNIQUE<br/>HOLIDAY HOUSES<br/>FOR YOU! </p></div>
      </div>
      <div class="nav"><a href="#"><img src="__STATIC__/images/element/nav/banner_nav.jpg"></a></div>
    </div>
    <!-- down arrow -->
    <div class="down-arrow">
      <a href="#" onclick="jump('deliver-title');">
        <!-- <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> -->
        <img src="__STATIC__/images/home/down_arrow.png" alt="down_arrow">
      </a>
    </div>
    <!-- 分享 -->
    <div class="share">
      <ul>
        <li class="face">
          <a><img src="__STATIC__/images/element/share/face.png" alt="face"></a>
          <!-- <div class="bound bound-face">
            <img src="__STATIC__/images/element/share/bg.png" alt="bg">
            <div class="code-content">
              <img class="code" src="__STATIC__/images/element/share/code.jpg" alt="code">
              <p>WeFace QR Code</p>
            </div>
          </div> -->
        </li>
        <li class="ins">
          <a href="#"><img src="__STATIC__/images/element/share/ins.png" alt="ins"></a>
          <!-- <div class="bound bound-ins">
            <img src="__STATIC__/images/element/share/bg.png" alt="bg">
            <div class="code-content">
              <img class="code" src="__STATIC__/images/element/share/code.jpg" alt="code">
              <p>WeIns QR Code</p>
            </div>
          </div> -->
        </li>
        <li class="chat">
          <a><img src="__STATIC__/images/element/share/chat.png" alt="chat"></a>
          <div class="bound bound-chat">
            <img src="__STATIC__/images/element/share/bg.png" alt="bg">
            <div class="code-content">
              <img class="code" src="__STATIC__/images/element/share/code.jpg" alt="code">
              <p>WeChat QR Code</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="clear"></div> 
    </div>
    <div class="clear"></div> 
  </div>

  <!--****************************************   title    ****************************************-->
  <div class="deliver-title" id="deliver-title">
    <div><img src="__STATIC__/images/home/pro_title_strip.jpg" alt="deliver-line"></div>
    <div class="title">
      <p>P R O P E R T I E S</p>
    </div>  
  </div>
  <!--****************************************   reserve    ****************************************-->
  <div class="reserve">
    <!-- check 的三个选框和一个按钮 --> 
    <div class="check-content">

      <!-- check in --> 
      <div class="check-date">
        <!-- 提示 -->
        <div class="prefix" id="check-in">
          <p><span>*</span> Check in</p>
        </div>
        <!-- 日期 -->
        <div class="input-append date" id="datetimeStart" data-date="12-02-2012" data-date-format="dd-mm-yyyy" >
          <input class="span2" size="16" type="text" value="01-26-2016"  onmouseover="opentip1();" onmouseout="closetip1();" onclick="closetip1();">
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
      </div>

      <!-- link line --> 
      <div class="link-line">
      </div>

      <!-- check out -->
      <div class="check-date out">
        <!-- 提示 -->
        <div class="prefix" id="check-out">
          <p><span>*</span> Check out</p>
        </div>
        <!-- 日期 -->
        <div class="input-append date" id="datetimeEnd" data-date="12-02-2012" data-date-format="dd-mm-yyyy" onmouseover="opentip2();" onmouseout="closetip2();" onclick="closetip2();">
          <input class="span3" size="16" type="text" value="01-26-2016">
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
      </div>

      <!-- check guest -->
      <div class="check-date guest">
        <!-- 提示 -->
        <div class="prefix" id="check-guests">
          <p><span>*</span> Guests</p>
        </div>
        <!-- 人数 -->
        <div class="input-group spinner">
          <input type="text" class="form-control" value="2" onmouseover="opentip3();" onmouseout="closetip3();" onclick="closetip3();">
          <div class="input-group-btn-vertical">
            <button class="btn btn-default" type="button">
              <img src="__STATIC__/images/element/nav/up_arrow.png">
            </button>
            <button class="btn btn-default" type="button">
              <img src="__STATIC__/images/element/nav/down_arrow.png">
            </button>
          </div>
        </div>
      </div>

      <!-- check btn -->
      <div class="check-btn" onmouseover="opentip4();" onmouseout="closetip4();" onclick="closetip4();">
        <a href="pro.html">
        <!-- 提示 -->
        <div class="prefix" id="check-btn">
          <p><span>*</span> Indicates a required field</p>
        </div>
        <!-- find -->
        <em>Find acommodation</em>
        </a>
      </div>

    </div>
  </div>

  <!--****************************************   reserve-room    ****************************************-->
  <div class="reserve-room">

    <div class="column2">
      <!-- ********************** 房间1  **********************-->
      <div class="room left">
        <a href="room1ToBooking.html">
        <!-- 照片 -->
        <div class="photo">
          <img src="__STATIC__/images/room/pic1.jpg" alt="pic1">
        </div>
        <!-- 房间名及报价 -->
        <div class="title">
          <p>Hillslide Santuary Cover</p>
          <span>From $1000 per night</span>
        </div>
        <!-- 标记 -->
        <div class="sign">
          <div class="num people">
            <div class="icon"><img src="__STATIC__/images/element/icon/people.jpg" alt="icon_people"></div>
            <div class="figure">4</div>
          </div>
          <div class="num bed">
            <div class="icon"><img src="__STATIC__/images/element/icon/bed.jpg" alt="icon_bed"></div>
            <div class="figure">5</div>
          </div>
          <div class="num bath">
            <div class="icon"><img src="__STATIC__/images/element/icon/bath.jpg" alt="icon_bath"></div>
            <div class="figure">2</div>
          </div>
        </div></a>
      </div>

      <!-- ********************** 房间2  **********************-->
      <div class="room center">
        <a href="room1ToBooking.html">
        <!-- 照片 -->
        <div class="photo">
          <img src="__STATIC__/images/room/pic2.jpg" alt="pic1">
        </div>
        <!-- 房间名及报价 -->
        <div class="title">
          <p>Hillslide Night</p>
          <span>From $1000 per night</span>
        </div>
        <!-- 标记 -->
        <div class="sign">
          <div class="num people">
            <div class="icon"><img src="__STATIC__/images/element/icon/people.jpg" alt="icon_people"></div>
            <div class="figure">4</div>
          </div>
          <div class="num bed">
            <div class="icon"><img src="__STATIC__/images/element/icon/bed.jpg" alt="icon_bed"></div>
            <div class="figure">5</div>
          </div>
          <div class="num bath">
            <div class="icon"><img src="__STATIC__/images/element/icon/bath.jpg" alt="icon_bath"></div>
            <div class="figure">2</div>
          </div>
        </div></a>
      </div>
    <!-- </div> -->


    <!-- <div class="column2"> -->
      <!-- ********************** 房间3  **********************-->
      <div class="room left">
        <a href="room1ToBooking.html">
        <!-- 照片 -->
        <div class="photo">
          <img src="__STATIC__/images/room/pic3.jpg" alt="pic1">
        </div>
        <!-- 房间名及报价 -->
        <div class="title">
          <p>Hillslide Santuary</p>
          <span>From $1000 per night</span>
        </div>
        <!-- 标记 -->
        <div class="sign">
          <div class="num people">
            <div class="icon"><img src="__STATIC__/images/element/icon/people.jpg" alt="icon_people"></div>
            <div class="figure">4</div>
          </div>
          <div class="num bed">
            <div class="icon"><img src="__STATIC__/images/element/icon/bed.jpg" alt="icon_bed"></div>
            <div class="figure">5</div>
          </div>
          <div class="num bath">
            <div class="icon"><img src="__STATIC__/images/element/icon/bath.jpg" alt="icon_bath"></div>
            <div class="figure">2</div>
          </div>
        </div></a>
      </div>

      <!-- ********************** 房间4  **********************-->
      <div class="room">
        <a href="room1ToBooking.html">
        <!-- 照片 -->
        <div class="photo">
          <img src="__STATIC__/images/room/pic4.jpg" alt="pic1">
        </div>
        <!-- 房间名及报价 -->
        <div class="title">
          <p>Cover Santuary</p>
          <span>From $1000 per night</span>
        </div>
        <!-- 标记 -->
        <div class="sign">
          <div class="num people">
            <div class="icon"><img src="__STATIC__/images/element/icon/people.jpg" alt="icon_people"></div>
            <div class="figure">4</div>
          </div>
          <div class="num bed">
            <div class="icon"><img src="__STATIC__/images/element/icon/bed.jpg" alt="icon_bed"></div>
            <div class="figure">5</div>
          </div>
          <div class="num bath">
            <div class="icon"><img src="__STATIC__/images/element/icon/bath.jpg" alt="icon_bath"></div>
            <div class="figure">2</div>
          </div>
        </div></a>
      </div>
    <!-- </div> -->


    <!-- <div class="column2 third"> -->
      <!-- ********************** 房间5  **********************-->
      <div class="room left third center">
        <a href="room1.html">
        <!-- 照片 -->
        <div class="photo">
          <img src="__STATIC__/images/room/pic3.jpg" alt="pic1">
        </div>
        <!-- 房间名及报价 -->
        <div class="title">
          <p>Hillslide Santuary</p>
          <span>From $1000 per night</span>
        </div>
        <!-- 标记 -->
        <div class="sign">
          <div class="num people">
            <div class="icon"><img src="__STATIC__/images/element/icon/people.jpg" alt="icon_people"></div>
            <div class="figure">4</div>
          </div>
          <div class="num bed">
            <div class="icon"><img src="__STATIC__/images/element/icon/bed.jpg" alt="icon_bed"></div>
            <div class="figure">5</div>
          </div>
          <div class="num bath">
            <div class="icon"><img src="__STATIC__/images/element/icon/bath.jpg" alt="icon_bath"></div>
            <div class="figure">2</div>
          </div>
        </div></a>
      </div>

      <!-- ********************** 房间6  **********************-->
      <div class="room third">
        <a href="room1.html">
        <!-- 照片 -->
        <div class="photo">
          <img src="__STATIC__/images/room/pic4.jpg" alt="pic1">
        </div>
        <!-- 房间名及报价 -->
        <div class="title">
          <p>Cover Santuary</p>
          <span>From $1000 per night</span>
        </div>
        <!-- 标记 -->
        <div class="sign">
          <div class="num people">
            <div class="icon"><img src="__STATIC__/images/element/icon/people.jpg" alt="icon_people"></div>
            <div class="figure">4</div>
          </div>
          <div class="num bed">
            <div class="icon"><img src="__STATIC__/images/element/icon/bed.jpg" alt="icon_bed"></div>
            <div class="figure">5</div>
          </div>
          <div class="num bath">
            <div class="icon"><img src="__STATIC__/images/element/icon/bath.jpg" alt="icon_bath"></div>
            <div class="figure">2</div>
          </div>
        </div></a>
      </div>
    </div>

    <!-- ********************** 更多按钮(320-414)  **********************-->
    <div class="more-btn">
      <a href="proBlank.html">
      <p> More </p>
      <img src="__STATIC__/images/element/nav/find.jpg" alt="bg">
      </a>
    </div>
    <!-- ********************** 更多按钮(大于768)  **********************-->
    <div class="more-m-btn">
      <a href="pro.html">
        <div class="more-text">
          <img src="__STATIC__/images/element/nav/find.jpg" alt="bg">
          <div class="content"><p> More </p></div>
        </div>
      </a>  
    </div>

  </div>

  <!--****************************************   contact(手机版)    ****************************************-->
  <div class="contact">
    <div class="bg"><img src="__STATIC__/images/foot/bg.jpg" alt="bg"></div>
    <div class="band"><img src="__STATIC__/images/foot/logo.png" alt="logo"></div>
    <div class="text-table">
      <div class="deliver-line">
        <img src="__STATIC__/images/foot/line.jpg" alt="deliver-line">
      </div>
      <table id="text-table"> 
        <tr>
          <th class="left">Contact</th>
          <th>+61(07) 5539 8316</th>
        </tr>
        <tr>
          <th class="left">E-mail</th>
          <th>info@aushm.com</th>
        </tr>
        <tr>
          <th class="left">Website</th>
          <th>www.aushm.com.au</th>
        </tr>
        <tr class="last">
          <th class="left">Address</th>
          <th>91 Old Burleigh Road Broadbeach Gold Coast Queensland Australia</th>
        </tr>
      </table>
    </div>
    <div class="foot-line"><img src="__STATIC__/images/foot/strip.jpg" alt="line"></div>
  </div>
  <!--****************************************   contact(电脑版)    ****************************************-->
  <div class="contact-m">

    <!-- 内容大框架 -->
    <div class="fr-contact">

      <!-- 信息 -->
      <div class="fr-infor">
        <!-- logo -->
        <div class="band">
          <img src="__STATIC__/images/foot/logo.png" alt="png">
        </div>

        <!-- share -->
        <div class="share">
          <ul>
            <!-- share-face -->
            <li class="face">
              <a><img src="__STATIC__/images/element/share/face.png" alt="face"></a>
            </li>
            <!-- share-ins -->
            <li class="ins">
              <a href="#"><img src="__STATIC__/images/element/share/ins.png" alt="ins"></a>
            </li>
            <!-- share-chat -->
            <li class="chat">
              <a><img src="__STATIC__/images/element/share/chat.png" alt="chat"></a>
              <div class="bound bound-chat">
                <img src="__STATIC__/images/element/share/bg.png" alt="bg">
                <div class="code-content">
                  <img class="code" src="__STATIC__/images/element/share/code.jpg" alt="code">
                  <p>WeChat QR Code</p>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <!-- table -->
        <div class="text-table">
          <div class="deliver-line">
            <img src="__STATIC__/images/foot/line.jpg" alt="deliver-line">
          </div>
          <table id="text-table"> 
            <tr>
              <th class="left">Contact</th>
              <th class="right">+61(07) 5539 8316</th>
            </tr>
            <tr>
              <th class="left">E-mail</th>
              <th class="right">info@aushm.com</th>
            </tr>
            <tr>
              <th class="left">Website</th>
              <th class="right">www.aushm.com.au</th>
            </tr>
            <tr>
              <th class="left">Address</th>
              <th class="right">91 Old Burleigh Road Broadbeach Gold Coast Queensland Australia</th>
            </tr>
          </table>
        </div>
      </div>

      <!-- 表格 -->
      <div class="fr-form">
        <!-- 表头 -->
        <div class="title">
          <div class="text"><p>Send us an enquiry</p></div>
          <div class="arrow"><img src="__STATIC__/images/foot/arrow.png" alt="arrow"></div>
        </div>

        <div class="clear"></div>
        <!-- 表格 -->
        <div class="form">
          <div class="input left">
             <input type="text" name="fname" placeholder="First Name"/>
          </div>
          <div class="input">
            <input type="text" name="fname" placeholder="Last Name"/>
          </div>
          <div class="input left second">
             <input type="text" name="fname" placeholder="Phone"/>
          </div>
          <div class="input second">
            <input type="text" name="fname" placeholder="Email"/>
          </div>
          <div class="input long second">
            <input type="text" name="fname" placeholder="About"/>
          </div>
          <div class="input long second last">
            <input type="text" name="fname" placeholder="Request"/>
          </div>
        </div>

          <!-- 按钮 -->
        <div class="sub-btn">
          <a href="#">
            <div class="more-text">
              <img src="__STATIC__/images/element/nav/find.jpg" alt="bg">
              <div class="content"><p> Submit </p></div>
            </div>
          </a>  
        </div>

      </div>

      
    </div>

    <!-- 背景 -->
    <div class="bg"><img src="__STATIC__/images/foot/bg.jpg" alt="bg"></div>
  </div>
  <!--****************************************   foot   ****************************************-->
  <div class="foot">
    <div class="foot-text"><p>© Australian Homes Management, 2016</p></div>
  </div>
</block>
<block name='buttom'>
	<script type="text/javascript" src="__STATIC__/js/jquery.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="__STATIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__STATIC__/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
  <!-- 改中文显示取消此处注释，并把java中language改成‘zh－CN’ -->
  <!-- <script type="text/javascript" src="../js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script> -->
  <script type="text/javascript">
    //控件1 check in
    $('#datetimeStart').datetimepicker({
        language:  'fr',
        weekStart: 0,//一周从哪一天开始 0（星期日）到6（星期六）
        todayBtn:  1,
        autoclose: 1, //当选择一个日期之后是否立即关闭此日期时间选择器。
        todayHighlight: 1,
        startView: 2,//首先显示的视图:2 or 'month' for month view (the default)
        minView: 2,//日期时间选择器所能够提供的最精确的时间选择视图。
        forceParse: 0
    });

    //控件2 check out
    $("#datetimeEnd").datetimepicker({
        language:  'fr',
        weekStart: 0,//一周从哪一天开始 0（星期日）到6（星期六）
        todayBtn:  1,
        autoclose: 1, //当选择一个日期之后是否立即关闭此日期时间选择器。
        todayHighlight: 1,
        startView: 2,//首先显示的视图:2 or 'month' for month view (the default)
        minView: 2,//日期时间选择器所能够提供的最精确的时间选择视图。
        forceParse: 0
    });

    //控件3 人数选择
    (function ($) {
  $('.spinner .btn:first-of-type').on('click', function() {
    $('.spinner input').val( parseInt($('.spinner input').val(), 10) + 1);
  });
  $('.spinner .btn:last-of-type').on('click', function() {
    $('.spinner input').val( parseInt($('.spinner input').val(), 10) - 1);
  });
  })(jQuery);
  </script>
</block>
