<include file="Public/header" title="修改轮播图" />
<div id="page-wrapper"> 
    <form method="post" action="{:U('carousel/update')}" enctype="multipart/form-data">
           <div class="form-group">
            <label for="aa">轮播图名称</label>
            <input type="text" name="name" value="{$carousel.name}" class="form-control" id="aa" placeholder="输入轮播图标题">
        </div>
        <div class="form-group">
            <label for="bb">是否显示</label>
            <if condition="$carousel['dispaly'] eq 0">
                <input type="radio" name="dispaly" value="0" checked>不显示
                <input type="radio" name="dispaly" value="1">显示
            <else />
                <input type="radio" name="dispaly" value="0">不显示
                <input type="radio" name="dispaly" value="1" checked>显示
            </if>
        </div>
        <div class="form-group">
            <label for="cc">轮播图</label>
            <input type="file" name="path" class="form-control" id="cc">
            <img src="{$carousel.path}" style="width:20%;margin-top:30px;">
        </div>
        <div class="form-group">
            <label for="cc">轮播图链接</label>
            <input type="text" name="link" value="{$carousel.link}" class="form-control" id="cc" placeholder="输入轮播图链接">
        </div>
        <div class="form-group">
            <label for="dd">排序</label>
            <input type="number" name="sort" value="{$carousel.sort}" class="form-control" id="dd" placeholder="输入排序">
        </div>
        <input type="hidden" name="id" value="{$carousel.id}">
        <button type="submit" class="btn btn-default">修改</button>
    </form>
</div>
<include file="Public/footer" />